body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #fff;
    font-family: monospace;
}

.intro-text {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 1.5em;
    position: relative;
    width: 100%;
    top: 0;
    background-color: rgba(26, 26, 26, 0.8); /* Slightly transparent background to make it stand out */
    z-index: 50; /* Ensure it appears above other elements */
}

.intro-link {
    color: darkslateblue;
    text-decoration: italic;
}

@media (max-width: 768px) {
    .intro-text {
        font-size: 1.2em;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .intro-text {
        font-size: 1em;
        padding: 5px;
    }
}

#squid-container, #bubble-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0; /* Ensure it appears below other elements */
}

.squid {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    white-space: pre;
    transform: rotate(90deg);
    animation: swim linear forwards;
}

@keyframes swim {
    0% {
        transform: translateY(0) rotate(90deg) translateX(0);
    }
    25% {
        transform: translateY(-25vh) rotate(90deg) translateX(-10px);
    }
    50% {
        transform: translateY(-50vh) rotate(90deg) translateX(10px);
    }
    75% {
        transform: translateY(-75vh) rotate(90deg) translateX(-10px);
    }
    100% {
        transform: translateY(-100vh) rotate(90deg) translateX(0);
    }
}

.bubble {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: rise linear forwards;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.scrolling-bar {
    width: 100%;
    min-width: 100vw; /* Ensure minimum width is the full viewport width */
    max-width: 100vw; /* Optional, to limit maximum width to the viewport width */
    background-color: #000000;
    color: white;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    line-height: 1.5;
    overflow-x: hidden; /* Hide horizontal overflow */
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scrolling-bar {
    font-size: 1em; /* Adjust font size for scrolling bar */
    padding: 5px; /* Adjust padding */
    animation: scroll-text 15s linear infinite;
}
