html {
    font-size: 20px;
}

@keyframes scroll-text {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
} /* For scrollbar? */

.text-box {
  background-color: white !important;
  color: #74fffd;
  padding: 15px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}


a {
  color: #0066cc;
}

a:visited {
  color: #003366;
}


.colorchangeclass {
  border-left: 1px solid red;
  border-right: 1px solid red;
  animation: color-change 1s infinite;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  background-color: #f5f5f5;
}


.box-outset{
  border-width: 0.5rem;
  border-color: green;
  outline: 0.5rem outset #00b135;
  background-color: rgb(20, 4, 40);
  z-index: 1;
}

.box-outset2{
  border-width: 0.5rem;
  border-color: #00b135;
  outline: 0.5rem outset #00b135;
  background-color: rgb(170, 133, 186);
  z-index: 1;
}



th, td, caption, p, table {
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    border-collapse: separate;
    padding: 0.5rem;
}

  p { 
    background-color: white !important;
    color: black;
    padding: 15px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
   }

   h1 { 
    color: #222; 
   }

   h2 {
    color: #222
   }
   th {
    color:rgb(22, 22, 22)
   }
   td { 
    color: #222;
   }
   h3 {
    color:rgb(22, 22, 22)
   }
   h4{
    color: #222;
   }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;


  } 

  h1 {
    font-family: monospace;
    font-size: 1.5em;
  }

#logo-header {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #00b135;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  text-shadow: 1px 1px 2px #ffffff, 
               2px 2px 0 #000, 
               3px 3px 0 #000, 
               4px 4px 0 #000, 
               5px 5px 0 #000, 
               6px 6px 0 #000, 
               7px 7px 0 #000;
  margin: 10px auto;
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;
}

#logo-header a {
  color: inherit; 
  text-decoration: none; 
  transition: color 0.3s; 
}

#logo-header a:hover {
  color: #3a0eff; /* Changes color on hover */
}

.scrolling-bar {
  width: 100%;
  /*font-size: 1em;*/
  min-width: 100vw;
  max-width: 100vw; 
  background-color: #000000;
  color: white;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  animation: scroll-text 15s linear infinite;
  line-height: 1.5;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.scrolling-bar {
  background-color: #f5f5f5 !important;
  color: #000000        !important;
  animation: none       !important;
  transform: none       !important;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}
.top-nav a {
  text-decoration: none;
  color: #0066cc;
}


ul {
  list-style-type: none; /* Removes default bullet points */
  padding-left: 0; /* Removes default padding */
}

.responsive-iframe {
  position: relative;
  width: 100%; /* Full width of the container */
  margin: 0 auto; /* Center align */
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  border: none;
}

footer {
  position: relative;
  z-index: 10;
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Full width */
  /* Why is z set to ten */
}

.ninth-star {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #0b041b;
  margin: 15% auto; /* 15% */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  nav ul li {
      display: block;
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ninth-star {
      width: 150px; /* Smaller size for smaller screens */
      height: 150px;
      left: 50%;
      transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .ninth-star {
      width: 100px; /* Even smaller for mobile screens */
      height: 100px;
      left: 50%;
      transform: translateX(-50%);
  }
}


/* Media Query for Mobile Devices !!!!!!!!! */
@media screen and (max-width: 600px) {
  html {
      font-size: 16px; /* Smaller base font size for mobile */
  }

  .last-updated, .interactive-gifs {
      float: none; /* Disable floating 4 mobile */
      margin-right: 0;
      text-align: center;
      font-size: 1.5em; /* Adjust font size for readability */
  }

  .column {
      width: 100%; /* Full width for columns */
      padding: 5px;
  }


.box-outset, .box-outset2 {
  background-color: white;
  outline: 1px solid #ccc;
  border: none;
}



.last-updated {
  position: relative;
  top: auto;
  right: 0;
  margin-right: 10px;
  text-decoration: none;
  z-index: 1;
}


.interactive-gifs {
  float: right;
  margin-right: 10px;
  font-size: 2em;
  color: rgb(172, 30, 91);
  z-index: 1;
}

a {
  color: #2525EE; /* Standard */
}

a:visited {
  color: #7300df; /* visited links */
}


.colorchangeclass {
  border-left: 1px solid red;
  border-right: 1px solid red;
  animation: color-change 1s infinite;
}



th, td, caption, p, table {
    border: 1px solid #ffffff;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

  h1 {
    font-family: monospace;
    font-size: 1.5em;
  }

#fireworksCanvas {
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none; 
  z-index: 0; /* Adjust maybe */
}

#logo-header {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  /* color: #4f00af; */
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  text-shadow: 1px 1px 2px #3a0eff, 
               2px 2px 0 #000, 
               3px 3px 0 #000, 
               4px 4px 0 #000, 
               5px 5px 0 #000, 
               6px 6px 0 #000, 
               7px 7px 0 #000;
  margin: 10px auto;
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;
}

#logo-header a {
  color: inherit; /* Color from the parent element */
  text-decoration: none;
  transition: color 0.3s; /* Smooths color transition on hover */
}

#logo-header a:hover {
  color: #3a0eff; /* Changes color on hover */
}


ul {
  list-style-type: none; /* Removes default bullet points */
  padding-left: 0; /* Removes default padding */
}

.responsive-iframe {
  position: relative;
  width: 100%; /* Full width of the container */
  margin: 0 auto; /* Center align */
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border: none;
}

footer {
  position: relative; /* Adjust position relative to its normal flow */
  z-index: 10; 
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Full width */
 /* I need to stop setting z to 10 */
}

.ninth-star {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #0b041b;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Media Query for Mobile Devices !!!!!!!!! */
@media screen and (max-width: 600px) {
  html {
      font-size: 16px; /* Smaller base font size for mobile */
  }

  .last-updated, .interactive-gifs {
      float: none; /* Disable floating for mobile */
      margin-right: 0;
      text-align: center;
      font-size: 1.5em; /* Adjust font size for readability */
  }

  .column {
      width: 100%; /* Full width for columns */
      padding: 5px;
  }

  .box-outset, .box-outset2 {
      border-width: 0.25rem; /* Adjust border width */
      outline-width: 0.25rem; /* Adjust outline width */
  }



}
  }
